.chat-container {
  display: flex;
  height: 100vh;
  background: #f1f5f9;
}

.sidebar {
  width: 280px;
  background: #1e293b;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.user {
  padding: 12px;
  background: #334155;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.user:hover {
  background: #475569;
}

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.chat-header {
  background: white;
  padding: 18px 24px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.messages {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  width: fit-content;
  max-width: 65%;
  padding: 10px 14px;
  border-radius: 18px;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

.my-message {
  background: #2563eb;
  color: white;
  align-self: flex-end;
}

.other-message {
  background: white;
  color: black;
  border: 1px solid #e2e8f0;
  align-self: flex-start;
}


.message-time {
  font-size: 11px;
  margin-top: 6px;
  text-align: right;
}

.my-message .message-time {
  color: #dbeafe;
}

.other-message .message-time {
  color: #64748b;
}

.chat-input {
  display: flex;
  padding: 16px 20px;
  background: white;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 12px 16px;
  border: 1px solid #cbd5e1;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
}

.chat-input input:focus {
  border-color: #2563eb;
}

.chat-input button {
  margin-left: 10px;
  padding: 12px 24px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.chat-input button:hover {
  background: #1d4ed8;
}

.dark {
  background: #0f172a;
}

.dark .sidebar {
  background: #020617;
}

.dark .chat-header,
.dark .chat-input {
  background: #1e293b;
  color: white;
}

.dark .messages {
  background: #0f172a;
}

.dark .other-message {
  background: #1e293b;
  color: white;
  border: 1px solid #334155;
}

.dark .chat-input input {
  background: #334155;
  color: white;
  border: 1px solid #475569;
}

.dark-btn {
  margin-right: 10px;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.unread-badge {
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 50%;
  margin-left: 8px;
  font-weight: bold;
}