html,
body,
#root {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

:root {
  /* Light */
  --home-bg: #eef2f7;
  --home-card: #ffffff;
  --home-header: rgba(255, 255, 255, 0.9);
  --home-text: #111827;
  --home-secondary: #6b7280;
  --home-border: #e5e7eb;
  --home-shadow: rgba(0, 0, 0, 0.08);
  --skeleton: #d1d5db;
}


.dark {
  /* Dark */
  --home-bg: #000000;
  --home-card: #111111;
  --home-header: rgba(0, 0, 0, 0.85);
  --home-text: #ffffff;
  --home-secondary: #8e8e8e;
  --home-border: #262626;
  --home-shadow: rgba(0, 0, 0, 0.4);
  --skeleton: #333;
}

.home-container {
  background: var(--home-bg);
  color: var(--home-text);
  min-height: 100vh;
  padding-top: 70px;
  padding-bottom: 70px;
}

/* Header */
.home-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;

  background: var(--home-header);
  backdrop-filter: blur(20px);

  z-index: 1000;

  transition: transform 0.3s ease;
}

.home-header.hide {
  transform: translateY(-100%);
}

.home-header.show {
  transform: translateY(0);
}


/* Icons */
.icon-btn {
  background: none;
  border: none;
  color: var(--home-text);
  font-size: 24px;
  cursor: pointer;
}


/* Feed */

.feed-container {
  width: 100%;
  max-width: 680px;
  margin: 20px auto;

  display: flex;
  flex-direction: column;

  gap: 12px;

  padding: 0 15px 80px;
}

.empty-feed {
  text-align: center;
}

.empty-feed h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.empty-feed p {
  color: var(--home-secondary);
  font-size: 15px;
}

.post-card {
  background: var(--home-card);

  border: 1px solid var(--home-border);

  border-radius: 22px;

  overflow: hidden;

  margin-bottom: 12px;

  backdrop-filter: blur(15px);

  box-shadow:
    0 8px 25px rgba(0, 0, 0, .08);

  transition:
    transform .25s,
    box-shadow .25s,
    background .25s;
}

.post-card:hover {
  transform: translateY(-3px);

  box-shadow:
    0 15px 40px rgba(0, 0, 0, .12);
}


/* Bottom Navigation */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 60px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background: var(--home-card);
  border-top: 1px solid var(--home-border);

  box-shadow: 0 -5px 25px var(--home-shadow);

  color: var(--home-text);
  font-size: 25px;
}

/* Post Card */


/* User Header */
.post-user {
  display: flex;
  align-items: center;

  gap: 14px;

  padding: 16px 18px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.dark .post-user {
  border-bottom: 1px solid rgba(255, 255, 255, .06);
}

/* Profile Image */
.post-profile {
  width: 52px;
  height: 52px;

  border-radius: 50%;

  object-fit: cover;

  border: 2px solid #0095ff;
}

.post-profile:hover {
  transform: scale(1.08);
}

/* Name */
.post-user h4 {
  color: var(--home-text);
  font-size: 15px;
  margin: 0;
}

/* Username */
.post-user p {
  color: var(--home-secondary);
  font-size: 13px;
  margin: 2px 0 0;
}

/* Post Image */
.post-image {
  width: 100%;
  height: auto;
  max-height: 650px;
  object-fit: cover;
  display: block;

  transition:
    transform .4s ease,
    filter .4s ease;
}

/* Caption */
.post-caption {
  padding: 12px;
  color: var(--home-text);
  font-size: 15px;
  word-break: break-word;
  line-height: 1.6;
}

.action-btn {
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  color: var(--home-text);

  transition: all .25s ease;
}

.action-btn:hover {
  transform: scale(1.15);
}

.liked-heart {
  color: #ff3040;
  animation: heartBounce .35s ease;
}

.saved-icon {
  color: #ffb300;
}


@keyframes heartPop {
  0% {
    transform: scale(0.7);
  }

  60% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

/* Loading */
.feed-container h2 {
  color: var(--home-text);
  text-align: center;
}

/* Mobile Responsive */
@media (max-width: 600px) {

  .feed-container {
    width: 100%;
    margin: 20px auto;

    display: flex;
    flex-direction: column;

    gap: 30px;

    padding: 0 10px 80px;
  }


}

/* Skeleton Loading */

.skeleton-post {
  background: var(--home-card);
  border: 1px solid var(--home-border);
  border-radius: 15px;
  padding: 15px;
  animation: pulse 1.5s infinite;
}


.skeleton-header {
  display: flex;
  align-items: center;
  gap: 10px;
}


.skeleton-profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--skeleton);
}


.skeleton-text div {
  height: 12px;
  background: var(--skeleton);
  margin: 5px;
  border-radius: 10px;
}

.skeleton-text div:first-child {
  width: 90px;
}

.skeleton-text div:last-child {
  width: 70px;
}

.skeleton-image {
  width: 100%;
  height: 300px;
  background: var(--skeleton);
  margin-top: 15px;
  border-radius: 10px;
}


.skeleton-caption {
  width: 70%;
  height: 15px;
  background: var(--skeleton);
  margin-top: 15px;
  border-radius: 10px;
}

.skeleton-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
}


@keyframes pulse {

  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }

}

/* PingMe Title */

.app-title {
  font-size: 32px;
  font-weight: 800;
  margin: 0;

  background: linear-gradient(90deg,
      #0095ff,
      #00e5ff);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 0 15px rgba(0, 149, 255, 0.8);

  letter-spacing: 1px;

  font-family:
    "Trebuchet MS",
    sans-serif;
}

/* =========================
   Desktop Home Upgrade
========================= */

.desktop-sidebar {
  display: none;
}


@media (min-width: 1024px) {

  .home-container {
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 220px;
    background: var(--home-bg);
  }

  .home-header {
    width: calc(100% - 230px);
    left: 230px;
  }

  .bottom-nav {
    display: none;
  }


  /* Left Sidebar */
  .desktop-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 230px;
    height: 100vh;
    background: var(--home-card);
    border-right: 1px solid var(--home-border);
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    z-index: 1000;
  }


  .desktop-logo {
    font-size: 36px;
    font-weight: 800;

    margin-bottom: 50px;

    background: linear-gradient(90deg,
        #0095ff,
        #00e5ff);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow:
      0 0 20px #0095ff;
  }


  .desktop-sidebar button {
    background: none;
    border: none;

    color: var(--home-text);
    font-size: 18px;

    padding: 15px;

    margin-bottom: 10px;

    text-align: left;

    border-radius: 14px;

    cursor: pointer;

    transition: 0.3s;

    display: flex;
    align-items: center;
    gap: 15px;
  }


  .desktop-sidebar button:hover {
    background: #142850;

    transform: translateX(8px);
  }

  /* Active Sidebar */

  .active-nav {
    background: linear-gradient(135deg,
        #0095ff,
        #004cff) !important;

    color: white !important;

    box-shadow:
      0 0 20px rgba(0, 149, 255, .7);
  }


  /* Better Hover */

  .desktop-sidebar button:hover {
    background: rgba(0, 149, 255, .15);

    color: #00e5ff;

    transform: translateX(10px);

    box-shadow:
      0 0 15px rgba(0, 149, 255, .4);
  }

  /* Feed */


  .post-user {
    padding: 18px;
  }


  .post-profile {
    width: 55px;
    height: 55px;
  }


  .post-user h4 {
    font-size: 18px;
  }


  .post-user p {
    font-size: 14px;
  }


  .post-image {
    max-height: 700px;
    object-fit: cover;
  }

  .post-image {
    transition:
      transform .4s ease,
      filter .4s ease;
  }

  .post-caption {
    padding: 0 18px 12px;
    font-size: 15px;
    font-weight: 500;
  }

}

.menu-container {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.notification-btn:hover {
  transform: scale(1.1);
}


.home-dropdown {
  position: absolute;

  top: 50px;
  right: 0;

  width: 170px;

  background: var(--home-card);
  border: 1px solid var(--home-border);

  border-radius: 15px;

  padding: 8px;

  box-shadow:
    0 10px 25px rgba(0, 0, 0, .25);

  z-index: 2000;
}


.home-dropdown button {
  width: 100%;

  background: transparent;
  border: none;

  color: var(--home-text);

  padding: 12px;

  border-radius: 10px;

  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 15px;
}


.home-dropdown button:hover {
  background: #2563eb;
  color: white;
}



.comment-btn span {
  font-size: 15px;
  font-weight: 600;
}


.comment-btn:hover {
  color: #0095ff;
  transform: scale(1.08);
}

.comment-input-container {

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 0 15px 15px;

  position: sticky;
  bottom: 0;
  background: var(--home-card);
}


.comment-input-container input {

  flex: 1;

  height: 40px;

  border: 1px solid var(--home-border);

  background: var(--home-bg);

  color: var(--home-text);

  border-radius: 25px;

  padding: 0 15px;

  outline: none;

  transition: .3s;
}


.comment-input-container input:focus {

  border-color: #0095ff;

  box-shadow: 0 0 10px rgba(0, 149, 255, .4);
}


.comment-input-container input::placeholder {

  color: var(--home-secondary);

}

.comment-input-container button {

  border: none;

  background: linear-gradient(135deg,
      #0095ff,
      #004cff);

  color: white;

  padding: 10px 18px;

  border-radius: 25px;

  font-weight: 600;

  cursor: pointer;

  transition: .3s;
}


.comment-input-container button:hover {

  transform: scale(1.05);

  box-shadow:
    0 0 15px rgba(0, 149, 255, .6);
}

.comments-list {
  padding: 0 18px 15px;
}


.comments-list p {
  background: rgba(0, 149, 255, .08);

  padding: 8px 12px;

  border-radius: 12px;

  margin: 8px 0;

  font-size: 14px;
}


.comments-list strong {

  color: #0095ff;

  margin-right: 6px;

}

.search-overlay {

  position: fixed;

  inset: 0;

  background: rgba(0, 0, 0, .45);

  backdrop-filter: blur(8px);

  display: flex;

  justify-content: center;

  align-items: flex-start;

  padding-top: 90px;

  z-index: 5000;

}

.search-box {

  width: 90%;

  max-width: 650px;

  background: var(--home-card);

  border: 1px solid var(--home-border);

  border-radius: 22px;

  overflow: hidden;

  box-shadow:
    0 0 40px rgba(0, 0, 0, .35);

  max-height: 80vh;
  overflow-y: auto;
}

.search-header {

  display: flex;

  align-items: center;

  padding: 15px;

  gap: 10px;

  border-bottom: 1px solid var(--home-border);

}

.search-header input {

  flex: 1;

  height: 45px;

  background: var(--home-bg);

  color: var(--home-text);

  border: 1px solid var(--home-border);

  border-radius: 25px;

  padding: 0 18px;

  outline: none;

  font-size: 15px;

}

.search-header button {

  background: transparent;

  border: none;

  color: var(--home-text);

  font-size: 24px;

  cursor: pointer;

  transition: .25s;

}


.search-header button:hover {

  color: #ff3040;

  transform: rotate(90deg);

}

.search-user {

  display: flex;

  align-items: center;

  gap: 12px;

  padding: 15px 18px;

  cursor: pointer;

  transition: .25s;

}


.search-user:hover {

  background: rgba(0, 149, 255, .15);

}

.search-user img {

  width: 50px;

  height: 50px;

  border-radius: 50%;

  object-fit: cover;

  border: 2px solid #0095ff;

}

.search-user h4 {

  color: var(--home-text);

  margin: 0;

  font-size: 15px;

}


.search-user p {

  color: var(--home-secondary);

  margin-top: 4px;

  font-size: 13px;

}

.search-message {

  text-align: center;

  padding: 25px;

  color: var(--home-secondary);

  font-size: 15px;

}

.header-center {
  display: flex;
  align-items: center;
  gap: 15px;
}

.notification-btn {
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 22px;
  color: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -6px;
  background: red;
  color: white;
  min-width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: bold;
  box-shadow:
    0 0 12px rgba(255, 0, 0, .6);
}

.likes-count {
  padding: 0 18px;

  font-size: 15px;
  font-weight: 700;

  color: var(--home-text);

  margin-bottom: 8px;

  cursor: pointer;
}

.action-btn svg {
  transition: all .25s ease;
}

.action-btn:hover svg {
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, .25));
}

.view-comments {
  color: var(--home-secondary);
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 8px;
}

.comments-list strong {
  color: var(--home-text);
  font-weight: 600;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 18px 8px;
}

.left-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}


.comments-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.comments-box {
  width: 90%;
  max-width: 450px;
  max-height: 70vh;
  overflow-y: auto;
  background: var(--home-card);
  color: var(--home-text);
  border-radius: 16px;
  padding: 20px;
}

.comments-box::-webkit-scrollbar {
  width: 6px;
}

.comments-box::-webkit-scrollbar-thumb {
  background: #0095ff;
  border-radius: 10px;
}

.post-image-wrapper {
  position: relative;

  padding: 0 12px 12px;
}

.heart-animation {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  font-size: 90px;
  color: white;

  pointer-events: none;

  animation: bigHeart .8s ease forwards;
}

@keyframes bigHeart {

  0% {
    opacity: 0;
    transform:
      translate(-50%, -50%) scale(.2);
  }

  50% {
    opacity: 1;
    transform:
      translate(-50%, -50%) scale(1.4);
  }

  100% {
    opacity: 0;
    transform:
      translate(-50%, -50%) scale(1);
  }

}

@keyframes heartBounce {

  0% {
    transform: scale(.7);
  }

  50% {
    transform: scale(1.35);
  }

  100% {
    transform: scale(1);
  }

}

.post-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-user-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.post-meta {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-time {
  font-size: 12px;
  color: var(--home-secondary);
  font-weight: 500;
}

.post-menu-btn {
  background: none;
  border: none;
  color: var(--home-secondary);
  font-size: 20px;
  cursor: pointer;
}

.post-menu-btn:hover {
  color: var(--home-text);
}

.stories-container {
  display: flex;
  gap: 15px;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  margin-bottom: 20px;

  padding: 10px 0;
}

.stories-container::-webkit-scrollbar {
  display: none;
}

.story-item {
  display: flex;
  flex-direction: column;

  align-items: center;

  min-width: 80px;

  cursor: pointer;

  scroll-snap-align: start;
}

.story-avatar {
  width: 75px;
  height: 75px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background:
    linear-gradient(45deg,
      #ff3040,
      #ffb300,
      #0095ff);

  color: white;

  font-size: 24px;
}

.story-avatar-img {
  width: 75px;
  height: 75px;

  border-radius: 50%;

  object-fit: cover;

  border: 3px solid #ff3040;
}

.story-nav {
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 50%;
  z-index: 5;
}

.story-top {
  z-index: 999999;
}

.story-menu {
  z-index: 999999;
}

.story-nav.left {
  left: 0;
}

.story-nav.right {
  right: 0;
}

.story-item span {
  margin-top: 6px;

  font-size: 12px;

  color: var(--home-text);
}

@media (min-width:1024px) {

  .stories-container {
    max-width: 680px;
    margin: 0 auto 10px;
    padding: 5px 0;
  }

}

.story-modal {
  position: fixed;
  inset: 0;

  background: #000;

  z-index: 999999;

  display: flex;
  justify-content: center;
  align-items: center;
}


.story-modal-image {
  width: 100%;
  max-width: 420px;
  height: auto;
  max-height: 100vh;
  object-fit: contain;
  border-radius: 12px;
}

.story-top {
  position: absolute;

  top: 10px;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 16px;

  z-index: 15;
}

.story-menu {
  position: absolute;
  right: 20px;
  top: 18px;
  z-index: 20;
}

.story-user-avatar {

  width: 38px;

  height: 38px;

  border-radius: 50%;

  border: 2px solid white;

  object-fit: cover;

}

.story-user-avatar:hover {

  transform: scale(1.08);

}

.story-close {

  margin-left: auto;

  width: 36px;

  height: 36px;

  border: none;

  border-radius: 50%;

  background:
    rgba(255, 255, 255, .15);

  color: white;

  cursor: pointer;

}

.story-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.story-progress {

  position: absolute;

  top: 8px;

  left: 10px;

  right: 10px;

  height: 3px;

  background: rgba(255, 255, 255, .2);

  border-radius: 20px;

  overflow: hidden;

  z-index: 30;
}


.story-progress-wrapper {

  position: absolute;

  top: 8px;

  left: 10px;

  right: 10px;

  display: flex;

  gap: 4px;

  z-index: 100;
}

.story-progress-inactive {

  flex: 1;

  height: 3px;

  background: rgba(255, 255, 255, .25);

  border-radius: 10px;
}

@keyframes storyProgress {

  from {
    width: 0;
  }

  to {
    width: 100%;
  }

}

.story-user-info {

  display: flex;

  flex-direction: column;

}

.story-user-info h4 {
  color: white;
  font-size: 15px;
  font-weight: 700;

  margin: 0;

  text-shadow:
    0 0 15px rgba(0, 0, 0, .9);
}

.story-user-info span {
  color: rgba(255, 255, 255, .75);
  font-size: 12px;

  opacity: 1;

  text-shadow:
    0 0 15px rgba(0, 0, 0, .9);
}

.story-user-info {

  cursor: pointer;

}

.story-user-info:hover {

  opacity: .8;

}

.story-top-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.story-profile-link {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 8px 14px;

  background: rgba(0, 0, 0, .65);

  backdrop-filter: blur(15px);

  border-radius: 50px;
}

.story-profile-link:hover {

  opacity: .8;

}

.story-frame {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.story-count {

  margin-left: 15px;

  font-size: 13px;

  opacity: .8;

}

.story-delete-btn {

  background:
    rgba(255, 0, 0, .2);

  border: none;

  color: white;

  padding: 8px 12px;

  border-radius: 8px;

  cursor: pointer;

  margin-left: auto;

  margin-right: 10px;

}

.story-top-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.story-menu-icon {
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.story-dropdown {
  position: absolute;

  top: 35px;
  right: 0;

  background: #1f1f1f;

  border-radius: 12px;

  min-width: 160px;

  overflow: hidden;

  box-shadow:
    0 8px 20px rgba(0, 0, 0, .5);
}

.story-dropdown button {

  width: 100%;

  border: none;

  background: none;

  color: #ff4d4d;

  padding: 14px;

  cursor: pointer;

  text-align: left;
}

.story-dropdown button:hover {

  background: #2d2d2d;

}

.story-upload-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .85);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999999;
}

.story-upload-box {
  width: 92%;
  max-width: 420px;

  background: var(--home-card);

  padding: 15px;

  border-radius: 20px;
}

.story-upload-box img {
  width: 100%;
  max-height: 500px;

  object-fit: cover;

  border-radius: 15px;
}

.story-upload-actions {
  display: flex;
  gap: 10px;

  margin-top: 15px;
}

.cancel-story-btn,
.upload-story-btn {
  flex: 1;

  border: none;

  padding: 12px;

  border-radius: 12px;

  cursor: pointer;

  font-weight: 600;
}

.cancel-story-btn {
  background: #ff3040;
  color: white;
}

.upload-story-btn {
  background: #0095ff;
  color: white;
}

.story-progress-active {
  flex: 1;
  height: 3px;
  background: white;
  border-radius: 20px;
}

.story-progress-current {
  flex: 1;
  height: 3px;
  background: rgba(255, 255, 255, .25);
  border-radius: 20px;
  overflow: hidden;
}

@keyframes storyProgress {

  from {
    width: 0%;
  }

  to {
    width: 100%;
  }

}

.story-avatar-wrapper {
  position: relative;
}

.story-add-btn {
  position: absolute;

  bottom: 0;
  right: 0;

  width: 24px;
  height: 24px;

  border-radius: 50%;

  background: #0095ff;

  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: bold;

  border: 2px solid white;

  cursor: pointer;

  z-index: 10;
}

.story-reply-box {
  position: absolute;

  bottom: 20px;
  left: 20px;
  right: 20px;

  display: flex;
  gap: 10px;

  z-index: 100;
}

.story-reply-box input {
  flex: 1;

  height: 48px;

  padding: 0 18px;

  border-radius: 30px;

  border: 1.5px solid rgba(255, 255, 255, .25);

  background:
    rgba(0, 0, 0, .35);

  backdrop-filter: blur(12px);

  color: white;

  outline: none;

  box-shadow:
    0 0 15px rgba(255, 255, 255, .08);

  transition: all .3s ease;
}

.story-reply-box input:focus {

  border-color: #0095ff;

  box-shadow:
    0 0 20px rgba(0, 149, 255, .5);

}


.story-reply-box button {

  width: 52px;
  height: 48px;

  border: none;

  border-radius: 30px;

  background:
    linear-gradient(135deg,
      #0095ff,
      #0066ff);

  color: white;

  font-weight: 700;

  cursor: pointer;

  box-shadow:
    0 0 18px rgba(0, 149, 255, .4);

}

.story-progress-fill {
  height: 100%;

  background: white;

  border-radius: 20px;

  transition: width 0.1s linear;
}


.chat-nav-wrapper {
  position: relative;
}

.chat-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background: red;
  color: white;
  min-width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.chat-nav-icon {
  position: relative;
}

.chat-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: white;
  min-width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 11px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop-message-btn {
  position: relative;
}

.desktop-chat-badge {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);

  min-width: 20px;
  height: 20px;

  background: red;
  color: white;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-weight: 700;
}

@media (max-width:768px) {

  .home-container {
    padding-top: 65px;
    padding-bottom: 75px;
  }

  .home-header {
    height: 60px;
    padding: 0 12px;
  }

  .app-title {
    font-size: 24px;
  }

  .icon-btn,
  .notification-btn {
    font-size: 20px;
  }

  .feed-container {
    width: 100%;
    max-width: 680px;
    padding: 0 6px 80px;
    margin: auto;
  }

  .post-card {
    border-radius: 16px;
  }

  .post-user {
    padding: 12px;
  }

  .post-profile {
    width: 44px;
    height: 44px;
  }

  .post-user h4 {
    font-size: 14px;
  }

  .post-user p {
    font-size: 12px;
  }

  .post-actions {
    padding: 10px 12px;
  }

  .action-btn {
    font-size: 22px;
  }

  .post-caption {
    padding: 10px 12px;
    font-size: 14px;
  }

  .likes-count {
    padding: 0 12px;
  }

  .comments-list {
    padding: 0 12px 12px;
  }

  .comment-input-container {
    padding: 0 12px 12px;
  }

  .comment-input-container input {
    height: 42px;
    font-size: 15px;
  }

  .comment-input-container button {
    padding: 10px 14px;
  }

  .bottom-nav {
    height: 64px;
    font-size: 24px;
  }

  .bottom-nav {

    padding-bottom: env(safe-area-inset-bottom);

  }

}

@media (max-width:480px) {

  .stories-container {
    padding: 8px;
    gap: 12px;
  }

  .story-item {
    min-width: 70px;
  }

  .story-avatar,
  .story-avatar-img {
    width: 62px;
    height: 62px;
  }

  .story-item span {
    font-size: 11px;
  }

  .story-add-btn {
    width: 20px;
    height: 20px;
    font-size: 14px;
  }

  .search-box {
    width: 96%;
    border-radius: 16px;
  }

  .search-header {
    padding: 10px;
  }

  .search-header input {
    height: 42px;
  }

  .comments-box {
    width: 95%;
    padding: 16px;
  }

  .story-upload-box {
    width: 96%;
  }

  .story-reply-box {
    left: 12px;
    right: 12px;
    bottom: 14px;
  }

  .story-reply-box input {
    height: 44px;
    font-size: 14px;
  }

  .story-reply-box button {
    width: 48px;
    height: 44px;
  }

}

/* ===========================
   POST MENU
=========================== */

.post-menu-wrapper {

  position: relative;

}

.post-dropdown {

  position: absolute;

  top: 42px;

  right: 0;

  width: 190px;

  background: var(--home-card);

  border: 1px solid var(--home-border);

  border-radius: 16px;

  overflow: hidden;

  box-shadow: 0 15px 40px rgba(0, 0, 0, .25);

  z-index: 99999;

  animation: postMenu .22s ease;

}

.post-dropdown button {

  width: 100%;

  background: none;

  border: none;

  color: var(--home-text);

  padding: 14px 16px;

  display: flex;

  align-items: center;

  gap: 10px;

  cursor: pointer;

  font-size: 14px;

  transition: .25s;

}

.post-dropdown button:hover {

  background: #0095ff;

  color: white;

}

.post-dropdown button:not(:last-child) {

  border-bottom: 1px solid var(--home-border);

}

@keyframes postMenu {

  from {

    opacity: 0;

    transform: translateY(-8px) scale(.96);

  }

  to {

    opacity: 1;

    transform: translateY(0) scale(1);

  }

}

@media(max-width:768px) {

  .post-dropdown {

    width: 170px;

    right: -6px;

  }

  .post-dropdown button {

    padding: 13px;

    font-size: 13px;

  }

}

/* ==========================
   EDIT POST MODAL
========================== */

.delete-modal {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, .65);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999999;
}

.delete-box {

  width: 90%;
  max-width: 450px;

  background: var(--home-card);

  color: var(--home-text);

  border-radius: 20px;

  padding: 24px;

  box-shadow: 0 20px 60px rgba(0, 0, 0, .35);

  animation: popup .25s ease;
}

.delete-box h3 {

  margin-bottom: 15px;

  font-size: 22px;
}

.delete-box p {

  margin-bottom: 20px;

  color: var(--home-secondary);
}

.delete-box textarea {

  width: 100%;

  min-height: 120px;

  resize: none;

  border: 1px solid var(--home-border);

  border-radius: 14px;

  padding: 14px;

  background: var(--home-bg);

  color: var(--home-text);

  font-size: 15px;

  outline: none;

  margin-bottom: 20px;
}

.delete-box textarea:focus {

  border-color: #0095ff;

  box-shadow: 0 0 0 3px rgba(0, 149, 255, .15);
}

.delete-actions {

  display: flex;

  justify-content: flex-end;

  gap: 12px;
}

.cancel-btn {

  background: #6b7280;

  color: white;

  border: none;

  padding: 10px 18px;

  border-radius: 12px;

  cursor: pointer;
}

.delete-btn {

  background: #0095ff;

  color: white;

  border: none;

  padding: 10px 18px;

  border-radius: 12px;

  cursor: pointer;
}

.cancel-btn:hover {

  opacity: .9;
}

.delete-btn:hover {

  background: #0077dd;
}

@keyframes popup {

  from {

    opacity: 0;
    transform: scale(.9);
  }

  to {

    opacity: 1;
    transform: scale(1);
  }

}